/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
*/

/* Search form */

.whoi-directory-search-advanced-form-container .row {
    margin-bottom: 30px;
}

#whoi-directory-search-form select {
    float: left;
    border: 1px solid #173656;
    border-radius: 0px ;
    color: #ffffff ;
    font-size: 16px;
    height: 50px ;
    margin: 0 20px 0 0 ;
    background: #27668f ;
}

.whoi-directory-search-advanced-form-container select {
    width: 100%;
}

#whoi-directory-search-form input[type=text] {
    display: inline-block;
    border: 1px solid #27558f;
    box-shadow: none;
    color: #333333;
    border-radius: 0px ;
    font-size: 16px;
    height: 50px;
    padding: 0 0 0 8px;
}

.whoi-directory-search-form-container #user_search_terms {
    float: left;
    width: 50%;
}

.advanced-search-btns {
    float: right;
    margin-right: 30px;
}

#search-btn-submit {
    background: #27668f !important;
    border: 1px solid #27668f !important;
    border-radius: 0 !important;
    box-shadow: none;
    box-sizing: inherit;
    display: inline-block;
    float: left;
    height: 50px !important;
    box-shadow: none;
    margin: 0;
    padding: 0 16px;
    position: relative;
    cursor: pointer;
}

#search-btn-submit:active,
#search-btn-submit:focus {
    top: 0;
}

#search-btn-submit .fa-search:before {
    color: white;
    font-size: 1.4em;

}

.whoi-directory-search-form-container #search-btn-submit {
    left: -48px;
}

.whoi-directory-search-advanced-form-container #search-btn-submit {
    background: none !important;
    border: none !important;
    margin-right: 20px;
}

.whoi-directory-search-advanced-form-container #search-btn-submit .fa-search:before {
    color: #333333;
    font-size: 1.9em;
}

.whoi-directory-search-advanced-form-container #search-btn-submit i {
    position: relative;
    top: -10px;
    color: #333333 !important;
}

#clear-srch {
    float: left;
    height: 40px;
    margin-top: 2px;
    position: relative;
}

#clear-srch i {
    font-size: 23px;
    position: relative;
    top: -2px;
    color: #333333 !important;
    left: 15px !important;
}

.search-btn-text {
    color: #333333 !important;
    font-size: 12px !important;
    letter-spacing: 1px;
    position: absolute;
    text-transform: uppercase !important;
    letter-spacing: 1px;
    position: absolute;
}

.advanced-search-btns .search-btn-text {
    font-size: 13px !important;
}

#search-btn-submit .search-btn-text {
    left: 5px !important;
    top: 31px !important;
}

#clear-search-btn .search-btn-text {
    left: 7px !important;
    top: 28px !important;
}

.whoi-directory-search-form-container #clear-srch {
    left: -32px;
}

#whoi-directory-search-feedback {
    clear: both;
}

#whoi-directory-search-results {
    margin-top: 20px;
}

#whoi-directory-search-results table {
    border: none;
}

#whoi-directory-search-results th {
    color: black;
    background: none;
}

.staff-image {
    margin-right: 20px;
    float: left;
}

.staff-image img {
    max-width: 220px;
}

.staff-profile {
     overflow: hidden;
}

.staff-profile h3 {
    margin: 1.5em 0 .25em 0;
}

.staff-profile br {
    display: none;
}

.cv a {
    display: inline-block;
    background: #27668f ;
    border: 1px solid #27668f ;
    padding: 2px 10px;
    color: white;
}

.cv a:hover {
    text-decoration: none;
    background: #8dc7f0 ;
    color: white;
}

/* Who We Are Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    #user_search_terms {
        width: 40%;
    }
}

/*  Who We Are Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    #department_search {
        margin-right: 0;
        margin-bottom: 20px;
    }
    #user_search_terms {
        width: 70%;
    }
    .staff-image {
        margin-right: 0px;
        float: none;
    }
}
